# Firebase build and deployment files
/firebase-debug.log
/firebase-debug.*.log
.firebaserc

# Firebase Hosting
/firebase.json
*.cache
hosting/.cache

# Firebase Functions
/functions/node_modules/
/functions/.env
/functions/package-lock.json

# Firebase Emulators
/firebase-*.zip
/.firebase/
/emulator-ui/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (local configs)
.env*
# Example Environment Files Should NOT be ignored
!.env.example 

# Dependency directories
node_modules/
jspm_packages/

# Python Virtual Environments
venv/
env/
.venv/

# Testing caches
.pytest_cache/
.eslintcache/

# Production build folder
/frontend/build/
/backend/__pycache__/